@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat:wght@700&family=Comforter+Brush&family=Ephesis&family=Pacifico&display=swap');

body {
	background-color: #ff0000;
}

.body1 {
	background-color: #fafaff;
}

shrift2 {
	font-family: 'Comforter Brush', cursive;
}

pocht {
    font-family: 'Pacifico', cursive;
	font-size: 100px;
}

p {
	font-family: 'Caveat', cursive;
	font-size: 50px;
}

CvetB {
	color: #ffffff;
}

div {
	background-color: #ffffff;
	width: 800px;
	margin: 30px;
	padding: 5px;
}

shrift1 {
	font-family: 'Bad Script', cursive;
	font-size: 50px;
}