@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');

p {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.nv0 {
	background-color: orange;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 5VH;
	width: 100%;
}

.nv1 {
	position: absolute;
	top: 5VH;
	left: 0px;
	height: 10VH;
	width: 100%;
}

.nv2 {
	display: inline-block;
	width: 7%;
}

.nv3 {
	display: inline-block;
	width: 3%;
}

.nv4 {
	display: inline-block;
	width: 2%;
}

.nv5 {
	background-color: lightgrey;
	display: inline-block;
	width: 4%;
}

.nv6 {
	display: inline-block;
	width: 4%;
}

.nv7 {
	display: inline-block;
	width: 4%;
}

.nv8 {
	display: inline-block;
	width: 4%;
}

.nv9 {
	display: inline-block;
	width: 4%;
}

.nv10 {
	display: inline-block;
	width: 45%;
}

.nv11 {
	display: inline-block;
	width: 5%;
}

.nv12 {
	background-color: orange;
	display: inline-block;
	width: 5%;
}

.nv13 {
	display: inline-block;
	width: 7%;
}

.text1 {
  color: var(--grey-15, #262626);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.text2 {
  color: var(--grey-15, #262626);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.textv1 {
  color: var(--grey-15, #262626);
  text-align: left;
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.textv2 {
  color: var(--grey-35, #59595A);
  text-align: left;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.text3 {
  color: var(--grey-15, #262626);
  text-align: right;
  font-family: Be Vietnam Pro;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
